<div layout="row" layout-sm="column" layout-padding>
  <div class="text-justify">
    <h1>Bienvenue sur le site du Bar LMT</h1>

    <p>Vous êtes arrivé{{user.sex ? '' : 'e'}} sur l'application officielle de gestion du Bar LMT.</p>

    <h2>Gestion des ventes</h2>

    <p>Le but de l'association est de faire payer les produits au prix coûtant dans la mesure du possible.</p>

    <p>Pour bénéficier des ventes, il est fortement conseillé de s'inscrire (ce qui déjà votre cas).
      L'inscription vous permet, d'une part, de visualiser les produits en vente avec leur prix ainsi que leur disponibilité, et, d'autre part, de visualiser vos
      précédents achats.</p>

    <h3>Vente rapide et efficace</h3>

    <p>Le processus de vente se veut d'être rapide et efficace.<br>
      Le paiement se fait donc uniquement par solde. Vous pouvez déposer de l'argent sur votre
      compte et ainsi l'utiliser pour vos achats. Ce solde sera à tout moment visualisable sur la page <em>"Mon compte"</em>.</p>

    <h3>La cotisation Café/thé</h3>

    <p>Vous pouvez prendre une cotisation café & thé permettant de prendre en illimité du café et du thé. Différentes cotisations sont possibles : TODO Tableau</p>

    <h4>Bonne année avec le Bar LMT et n'hésitez pas à <a href="https://github.com/SNachar/STOFMA/">prendre part au développement</a> de cette application issue des développements d'étudiants CNAM-CIAA (<a href="https://github.com/TantaCrew/STOFMA/">Voir la version originale</a>)</h4>
  </div>

  <div class="wrap-img">
    <img src="/images/logo_stofma.png" alt="Logo of stofma" align="right">
  </div>
</div>
